BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "leds[0]" SITE "13" ;
LOCATE COMP "leds[1]" SITE "14" ;
LOCATE COMP "leds[2]" SITE "16" ;
LOCATE COMP "leds[3]" SITE "17" ;
LOCATE COMP "leds[4]" SITE "20" ;
LOCATE COMP "leds[5]" SITE "21" ;
LOCATE COMP "leds[6]" SITE "23" ;
LOCATE COMP "leds[7]" SITE "25" ;
LOCATE COMP "pushbutton" SITE "12" ;
IOBUF PORT "pushbutton" PULLMODE=DOWN IO_TYPE=LVCMOS25 ;
